In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.style.use('ggplot')

In [3]:
path = 'yelp_data/health_text_sentiment.csv'
path2 = 'yelp_data/health_raw00.csv'

df = pd.read_csv(path)
df2 = pd.read_csv(path2)
df.drop(['Unnamed: 0'],axis=1,inplace=True)
df2.drop(['Unnamed: 0'],axis=1,inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64006 entries, 0 to 64005
Data columns (total 7 columns):
stars               64006 non-null int64
text                64006 non-null object
sent_value          64006 non-null float64
sent_score          64006 non-null object
clean_text          64006 non-null object
sent_value_clean    64006 non-null float64
sent_score_clean    64006 non-null object
dtypes: float64(2), int64(1), object(4)
memory usage: 3.4+ MB

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64006 entries, 0 to 64005
Data columns (total 13 columns):
business_id        64006 non-null object
categories         64006 non-null object
name               64006 non-null object
state              64006 non-null object
categories_list    64006 non-null object
cool               64006 non-null int64
date               64006 non-null object
funny              64006 non-null int64
review_id          64006 non-null object
stars              64006 non-null int64
text               64006 non-null object
useful             64006 non-null int64
user_id            64006 non-null object
dtypes: int64(4), object(9)
memory usage: 6.3+ MB

In [6]:
df.head()

,stars,text,sent_value,sent_score,clean_text,sent_value_clean,sent_score_clean
0,1,Please stay away from this place if you can! I...,-0.050645,negative,please stay away place bad care imaginable sta...,-0.036719,negative
1,5,My husband has been a patient of Dr. Byrne for...,0.024962,positive,husband patient dr byrne last year half last m...,0.069479,positive
2,4,Dr. Byrne is a great doctor! She has great bed...,0.513333,positive,dr byrne great doctor great bed side manner ex...,0.317778,positive
3,3,I'm raising my review as Dr Bryne's has been m...,-0.035714,negative,raise review dr bryne receptive daughter go an...,0.002806,positive
4,1,I wish I could give 0 stars. Worst office I've...,-0.048246,negative,wish could give star bad office ever horrible ...,-0.084259,negative

In [8]:
df2.state.unique()

array(['AZ', 'NV', 'PA', 'NC', 'OH', 'IL', 'SC', 'WI', 'CA', 'OR'],
      dtype=object)

## `business_id`
- 4572 unique business

In [ ]:
df2.business_id.value_counts(dropna=False)

In [ ]:
len(df2.business_id.value_counts(dropna=False))

In [ ]:
len(df2.business_id.unique())

# state

In [ ]:
df2.state.value_counts().plot('barh')

In [ ]:
fc = sns.factorplot(x="state", 
                    hue="stars", 
                    data=df2, kind="count",size=4, aspect=2,legend=True)
plt.title("Total Star Reviews by State")
plt.show()

In [ ]:
# top states
top = df2[(df2['state'] == 'AZ') | (df2['state'] == 'NV')]

# rest
rest = df2[~((df2['state'] == 'AZ') | (df2['state'] == 'NV'))]

In [ ]:
top.state.unique()

In [ ]:
rest.state.unique()

In [ ]:
top.info()

In [ ]:
rest.info()

In [ ]:
fc = sns.factorplot(x="state", 
                    hue="stars", 
                    data=top, kind="count",size=4, aspect=2,legend=True)
plt.title("Total Star Reviews by State")
plt.show()

In [ ]:
fc = sns.factorplot(x="state", 
                    hue="stars", 
                    data=rest, kind="count",size=4, aspect=2,legend=True)
plt.title("Total Star Reviews by State")
plt.show()

In [ ]:
onestar = top[top.stars == 1]

In [ ]:
len(onestar.business_id.unique())

In [ ]:
top_locations = df2.name.value_counts().index[:10].tolist()
df_review_top = df2.loc[df2['name'].isin(top_locations)]

df_review_top.groupby(df_review_top.name)['stars'].mean().sort_values(ascending=True).plot(kind='barh',figsize=(10, 5))
plt.yticks(fontsize=15)
plt.ylabel('')
# set the title of the graph
plt.title('Top rated Healhcare on Yelp',fontsize=15)
plt.xlabel('Ratings', fontsize=15)
plt.show()

In [ ]:
top_locations = df2.name.value_counts().index[:10].tolist()
df_review_top = df2.loc[df2['name'].isin(top_locations)]

df_review_top.groupby(df_review_top.name)[['useful','funny', 'cool']].mean().sort_values('useful',ascending=True).plot(kind='barh', figsize=(10, 5),width=0.7)
plt.yticks(fontsize=15)
plt.ylabel('')
# set the title of the graph
plt.title('Top useful, funny and cool locations',fontsize=15)
plt.xlabel('Ratings', fontsize=15)
plt.show()

In [ ]:
#!pip install wordcloud

In [ ]:
one_star = df[df.stars == 1]
five_star = df[df.stars == 5]

In [ ]:
from wordcloud import WordCloud
# difine wordcloud function from wordcloud library. set some parameteres for beatuful plotting
wc = WordCloud(width=1600, height=800, random_state=1, max_words=200000000)
# generate word cloud using df_yelp_tip_top['text_clear']
wc.generate(str(five_star['text']))
# declare our figure 
plt.figure(figsize=(20,10), facecolor='k')
# add title to the graph
plt.title("Five Star Reviews : Original Text ", fontsize=40,color='white')
plt.imshow(wc, interpolation='bilinear')
plt.axis('off')
plt.tight_layout(pad=10)
# after lot of congiguration finally plot the graph
plt.show()

In [ ]:
from wordcloud import WordCloud
# difine wordcloud function from wordcloud library. set some parameteres for beatuful plotting
wc = WordCloud(width=1600, height=800, random_state=1, max_words=200000000)
# generate word cloud using df_yelp_tip_top['text_clear']
wc.generate(str(five_star['clean_text']))
# declare our figure 
plt.figure(figsize=(20,10), facecolor='k')
# add title to the graph
plt.title("Five Star Reviews: Clean Text ", fontsize=40,color='white')
plt.imshow(wc, interpolation='bilinear')
plt.axis('off')
plt.tight_layout(pad=10)
# after lot of congiguration finally plot the graph
plt.show()

In [ ]:
from wordcloud import WordCloud
# difine wordcloud function from wordcloud library. set some parameteres for beatuful plotting
wc = WordCloud(width=1600, height=800, random_state=1, max_words=200000000)
# generate word cloud using df_yelp_tip_top['text_clear']
wc.generate(str(one_star['text']))
# declare our figure 
plt.figure(figsize=(20,10), facecolor='k')
# add title to the graph
plt.title("One Star Reviews : Original Text ", fontsize=40,color='white')
plt.imshow(wc, interpolation='bilinear')
plt.axis('off')
plt.tight_layout(pad=10)
# after lot of congiguration finally plot the graph
plt.show()

In [ ]:
from wordcloud import WordCloud
# difine wordcloud function from wordcloud library. set some parameteres for beatuful plotting
wc = WordCloud(width=1600, height=800, random_state=1, max_words=200000000)
# generate word cloud using df_yelp_tip_top['text_clear']
wc.generate(str(one_star['clean_text']))
# declare our figure 
plt.figure(figsize=(20,10), facecolor='k')
# add title to the graph
plt.title("One Star Reviews: Clean Text ", fontsize=40,color='white')
plt.imshow(wc, interpolation='bilinear')
plt.axis('off')
plt.tight_layout(pad=10)
# after lot of congiguration finally plot the graph
plt.show()

In [ ]:
by_state = df2.groupby('state')

In [ ]:
!pip install squarify

In [ ]:
import squarify    # pip install squarify (algorithm for treemap)
plt.figure(figsize=(12,12))

a = by_state['business_id'].count()

a.sort_values(ascending=False,inplace=True)

squarify.plot(sizes= a[0:15].values, label= a[0:15].index, alpha=0.9)

plt.axis('off')
plt.tight_layout()

In [ ]:
%%time
business_cats=','.join(df2['categories'])

In [ ]:
%%time
cats=pd.DataFrame(business_cats.split(','),columns=['category'])
cats_ser = cats.category.value_counts()


cats_df = pd.DataFrame(cats_ser)
cats_df.reset_index(inplace=True)

In [ ]:
cats_df.head()

In [ ]:
cats_df['index'] = cats_df['index'].str.strip()

In [ ]:
tt = cats_df['index'].value_counts().index[:10].tolist()
tt

In [ ]:
cats_df.sort_values(by=['category'],ascending=False,inplace=True)

In [ ]:
cats_df

In [ ]:
plt.figure(figsize=(10,5))
f = sns.barplot( y= 'index',x = 'category' , data = cats_df.iloc[0:10])
f.set_ylabel('Category')
f.set_xlabel('Number of businesses')

In [ ]:
top_locations = cats_df['index'].value_counts().index[:10].tolist()
df_review_top = cats_df.loc[cats_df['index'].isin(top_locations)]

df_review_top.groupby(df_review_top['index'])['category'].mean().sort_values(ascending=True).plot(kind='barh',figsize=(10, 5))
plt.yticks(fontsize=15)
plt.ylabel('')
# set the title of the graph
plt.title('Top rated Healhcare on Yelp',fontsize=15)
plt.xlabel('Ratings', fontsize=15)
plt.show()

In [ ]:
top_locations = df2.name.value_counts().index[:10].tolist()
df_review_top = df2.loc[df2['name'].isin(top_locations)]

df_review_top.groupby(df_review_top.name)['stars'].mean().sort_values(ascending=True).plot(kind='barh',figsize=(10, 5))
plt.yticks(fontsize=15)
plt.ylabel('')
# set the title of the graph
plt.title('Top rated Healhcare on Yelp',fontsize=15)
plt.xlabel('Ratings', fontsize=15)
plt.show()