In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import re

In [2]:
path = 'storage/yelp_data/health_business00.csv'

In [3]:
df = pd.read_csv(path)
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5656 entries, 0 to 5655
Data columns (total 4 columns):
business_id    5656 non-null object
name           5656 non-null object
categories     5656 non-null object
state          5656 non-null object
dtypes: object(4)
memory usage: 176.8+ KB

In [5]:
df.head()

,business_id,name,categories,state
0,y-4xTZNKVm8mAZpiXMS5ZA,"Lauren Byrne, MD","urologists, doctors, health & medical",AZ
1,STcSSjPOZ0FWtjvjqw99Dg,Black Mountain Orthopaedics,"doctors, orthopedists, health & medical",NV
2,WuiRF916fJl6aG5wC8qRAg,Advanced Brows,"doctors, eyebrow services, tattoo removal, bea...",NV
3,WnRtn80rdsWOa2nWZ6G1iA,Central Phoenix Women's Health Care,"obstetricians & gynecologists, health & medica...",AZ
4,SaR_j1ev_d55IBzORph_lQ,LASIK MD,"laser eye surgery/lasik, optometrists, ophthal...",QC

## Remove Canada
Remove
- ON
- QC
- AB
- NI
- NYK
-

In [6]:
df.state.unique()

array(['AZ', 'NV', 'QC', 'ON', 'PA', 'NC', 'OH', 'IL', 'SC', 'WI', 'AB',
       'NI', 'CA', 'OR', 'NYK'], dtype=object)

In [7]:
on = df.state == 'ON'
qc = df.state == 'QC'
ab = df.state == 'AB'
ni = df.state == 'NI'
nyk = df.state == 'NYK'

In [8]:
df = df[~(on|qc|ab|ni|nyk)]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5207 entries, 0 to 5655
Data columns (total 4 columns):
business_id    5207 non-null object
name           5207 non-null object
categories     5207 non-null object
state          5207 non-null object
dtypes: object(4)
memory usage: 203.4+ KB

In [10]:
list(df.columns)

['business_id', 'name', 'categories', 'state']

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5207 entries, 0 to 5655
Data columns (total 4 columns):
business_id    5207 non-null object
name           5207 non-null object
categories     5207 non-null object
state          5207 non-null object
dtypes: object(4)
memory usage: 203.4+ KB

In [14]:
df = df[[
 'business_id',
     'name',
 'categories']]

In [15]:
df.head()

,business_id,name,categories
0,y-4xTZNKVm8mAZpiXMS5ZA,"Lauren Byrne, MD","urologists, doctors, health & medical"
1,STcSSjPOZ0FWtjvjqw99Dg,Black Mountain Orthopaedics,"doctors, orthopedists, health & medical"
2,WuiRF916fJl6aG5wC8qRAg,Advanced Brows,"doctors, eyebrow services, tattoo removal, bea..."
3,WnRtn80rdsWOa2nWZ6G1iA,Central Phoenix Women's Health Care,"obstetricians & gynecologists, health & medica..."
6,Q9v3zXGR2TduAKzn5B1BhQ,Summerlin Dermatology,"medical centers, skin care, health & medical, ..."

In [ ]:
df2 = pd.DataFrame(df['categories'].str.split(',').values.tolist())
df2.head()

In [ ]:
#df2[0].value_counts(dropna=False)

In [ ]:
df2 = df2[[0,1,2,3]]

In [ ]:
df2[0].unique()

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df2[0].value_counts()[:20]

## remove unrelated categories
- original: 5656

In [16]:
cannabis = df.categories.str.contains('cannabis', flags=re.IGNORECASE, regex=True)

In [17]:
df = df[~cannabis]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5161 entries, 0 to 5655
Data columns (total 3 columns):
business_id    5161 non-null object
name           5161 non-null object
categories     5161 non-null object
dtypes: object(3)
memory usage: 161.3+ KB

In [19]:
df.head()

,business_id,name,categories
0,y-4xTZNKVm8mAZpiXMS5ZA,"Lauren Byrne, MD","urologists, doctors, health & medical"
1,STcSSjPOZ0FWtjvjqw99Dg,Black Mountain Orthopaedics,"doctors, orthopedists, health & medical"
2,WuiRF916fJl6aG5wC8qRAg,Advanced Brows,"doctors, eyebrow services, tattoo removal, bea..."
3,WnRtn80rdsWOa2nWZ6G1iA,Central Phoenix Women's Health Care,"obstetricians & gynecologists, health & medica..."
6,Q9v3zXGR2TduAKzn5B1BhQ,Summerlin Dermatology,"medical centers, skin care, health & medical, ..."

In [20]:
#  tattoo removal,
tattoo = df.categories.str.contains('tattoo removal', flags=re.IGNORECASE, regex=True)

In [21]:
len(df[tattoo])

123

In [22]:
df = df[~tattoo]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5038 entries, 0 to 5655
Data columns (total 3 columns):
business_id    5038 non-null object
name           5038 non-null object
categories     5038 non-null object
dtypes: object(3)
memory usage: 157.4+ KB

In [24]:
#naturopathic/holistic
hol = df.categories.str.contains('naturopathic/holistic', flags=re.IGNORECASE, regex=True)
# acupuncture
acu = df.categories.str.contains('acupuncture', flags=re.IGNORECASE, regex=True)
spa = df.categories.str.contains('spas', flags=re.IGNORECASE, regex=True)
# hair removal
hair = df.categories.str.contains('hair removal', flags=re.IGNORECASE, regex=True)

In [25]:
df = df[~(hair|hol|acu|spa)]

In [26]:
lasik = df.categories.str.contains('lasik', flags=re.IGNORECASE, regex=True)
eye = df.categories.str.contains('eyewear & opticians', flags=re.IGNORECASE, regex=True)
shopping = df.categories.str.contains('shopping', flags=re.IGNORECASE, regex=True)
pet = df.categories.str.contains('pet', flags=re.IGNORECASE, regex=True)

In [27]:
df = df[~(lasik|eye|shopping|pet)]

In [ ]:
df2 = pd.DataFrame(df['categories'].str.split(',').values.tolist())
df2.head()

In [ ]:
df2[2].value_counts(dropna=False)[:50]

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3979 entries, 0 to 5655
Data columns (total 3 columns):
business_id    3979 non-null object
name           3979 non-null object
categories     3979 non-null object
dtypes: object(3)
memory usage: 124.3+ KB

In [29]:
len(df.name.value_counts())

3420

In [31]:
df.name = df.name.str.strip()

In [32]:
len(df.name.value_counts())

3420

## total unique locations

- 3648

In [33]:
df.name.value_counts()

Banner Urgent Care                                  36
FastMed Urgent Care                                 32
NextCare Urgent Care                                25
Foothills Sports Medicine Physical Therapy          19
CareNow                                             13
Quest Diagnostics                                   10
Steinberg Diagnostic Medical Imaging                 8
The Pain Center                                      7
Cigna Medical Group                                  7
The Neck and Back Clinics                            7
MomDoc Women for Women                               7
MY DR NOW                                            7
Urgent Care Extra                                    7
Desert Radiology                                     6
MedPost Urgent Care                                  6
Alliance Urgent Care                                 6
Express Urgent Care                                  6
Arizona Asthma & Allergy Institute                   6
Ironwood Cancer & Research Centers                   6
Valley Perinatal Services                            6
Concentra                                            5
Sunset Clinic                                        5
Desert Valley Radiology                              5
Arizona Arthritis & Rheumatology Associates          5
Valley ENT                                           5
Valley Sleep Center                                  5
Banner Health Center: Primary Care Medicine          5
Foothills Pediatrics                                 5
SimonMed Imaging                                     5
MedExpress Urgent Care                               5
                                                    ..
Bayliff Integrated Wellness, LLC                     1
Kids Kare Pediatrics & Family Kare                   1
Arrowhead Oral & Maxillofacial Surgery               1
State Of The Heart Cardiology & Vascular Clinics     1
Christopher Milford, MD                              1
Audiology & Hearing Services of Charlotte            1
Arizona Pain Specialists                             1
Healing Head2Toe                                     1
Marc Malek, MD                                       1
Mercy Gilbert Medical Center                         1
East Valley Pain Center                              1
Bloom Reproductive Institute                         1
Novant Health Midtown Family Medicine                1
Michael Lawton, MD                                   1
Enhanced Medical Centers                             1
Backfit Health + Spine                               1
Desert Vein Institute                                1
Phoenix Neurological and Pain Institute              1
Forbes Hospital                                      1
Megan Jhaver, M.D.                                   1
Cardiovascular Surgery of Southern Nevada            1
Phoenician Foot & Ankle Specialists                  1
Wellness For Less                                    1
Valley of the Sun Dermatology                        1
Gist Robert Dr                                       1
Michael J. Orris, DO, MBA, FASMBS                    1
Nwapa Emmanuel MD                                    1
Reserve Health                                       1
South Hills Ent Assn                                 1
Guo Li Yee MD                                        1
Name: name, Length: 3420, dtype: int64

In [34]:
df.head()

,business_id,name,categories
0,y-4xTZNKVm8mAZpiXMS5ZA,"Lauren Byrne, MD","urologists, doctors, health & medical"
1,STcSSjPOZ0FWtjvjqw99Dg,Black Mountain Orthopaedics,"doctors, orthopedists, health & medical"
3,WnRtn80rdsWOa2nWZ6G1iA,Central Phoenix Women's Health Care,"obstetricians & gynecologists, health & medica..."
8,yOJrDZU5zkxJoZOJTZXLvQ,"Michael Seiff, MD","neurologist, spine surgeons, cosmetic surgeons..."
9,tX2AIWiPq565neflyBKLDw,"Irene Voo, MD","doctors, retina specialists, ophthalmologists,..."

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3979 entries, 0 to 5655
Data columns (total 3 columns):
business_id    3979 non-null object
name           3979 non-null object
categories     3979 non-null object
dtypes: object(3)
memory usage: 124.3+ KB

In [38]:
df = df.reset_index(drop=True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3979 entries, 0 to 3978
Data columns (total 3 columns):
business_id    3979 non-null object
name           3979 non-null object
categories     3979 non-null object
dtypes: object(3)
memory usage: 93.3+ KB

In [40]:
df.head()

,business_id,name,categories
0,y-4xTZNKVm8mAZpiXMS5ZA,"Lauren Byrne, MD","urologists, doctors, health & medical"
1,STcSSjPOZ0FWtjvjqw99Dg,Black Mountain Orthopaedics,"doctors, orthopedists, health & medical"
2,WnRtn80rdsWOa2nWZ6G1iA,Central Phoenix Women's Health Care,"obstetricians & gynecologists, health & medica..."
3,yOJrDZU5zkxJoZOJTZXLvQ,"Michael Seiff, MD","neurologist, spine surgeons, cosmetic surgeons..."
4,tX2AIWiPq565neflyBKLDw,"Irene Voo, MD","doctors, retina specialists, ophthalmologists,..."

In [42]:
df.to_csv('storage/yelp_data/health_business01.csv')